scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

speech {
  background-color: rgba(1, 23, 26, 0.7);
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: black;
  width: 100%;
  height: 10vh;
  padding: 14px;
  box-sizing: border-box;
}

dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 50%;
  height: 50%;
  left: 25%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-align: center;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}